.summary-card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    width: 220px;
    height: 180px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: 0.3s;
}

.summary-card:hover {
    transform: translateY(-5px);
}

.summary-icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.summary-card h3 {
    color: #444;
    margin-bottom: 15px;
}

.summary-card p {
    font-size: 2rem;
    color: #2563eb;
    font-weight: bold;
}