.light {
  --bg-color: #f5f7fb;
  --card-color: #ffffff;
  --text-color: #1f2937;
  --sidebar-color: #1E3A8A;
  --button-color: #2563eb;
}

.dark {
  --bg-color: #111827;
  --card-color: #1f2937;
  --text-color: #f9fafb;
  --sidebar-color: #172554;
  --button-color: #3b82f6;
}