.app-layout{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:#F5F7FB;
}

.main-container{
    display:flex;
    flex:1;
}

.main-container>*:last-child{
    flex:1;
    overflow-y:auto;
}